# Python byte code
*.pyc
*.pyo

# Emacs
*~

# Compiled JSON
*.json
!*p4app.json
!topology.json
!*-runtime.json

*.pcap

# Extracted solutions
solution*/
!solution/

# Build folders
build*/

# Logs folders
logs/

# Vagrant
.vagrant/

# Mac OS
*.DS_Store

# IntelliJ / PyCharm
.idea/

# Image
topo_port.png

# redunt file
vm/.#user-bootstrap.sh
vm/4913

# Result file
*.txt
*.png